html, body {
    padding: 0px;
    margin: 0px;
}

/* --------------- Navigation Bar --------------- */

.navBarDiv {
    width: 100%;
    background-color: #111111;
    color: white;
    padding: 0px;
    text-align: center;
    display: inline-block;
    font-family: monospace;
    position: relative;
    z-index: 5;
}
.navBar ul {
    padding: 0px;
}
.navBarDiv ul li {
    display: inline;
    padding-right: 50px;
    font-size: 18px;
    background-color: #111111;
    border-bottom: 13px solid #111111;
    border-top: 46px solid #111111;
}
.navBarDiv ul li a {
    text-decoration: none;
    color: white;
}
.navBarDiv ul li a:hover {
    color: #0094FF;
}
.headerLogo {
    height: 50px;
    padding-right: 25px;
}

/* --------------- Drop Downs --------------- */

.dropDown:hover li a {
    color: #0094FF;
}
.dropDown li {
    position: relative;
    z-index: 5;
}
.dropDown {
    display: inline-block;
    height: 100%;
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 15px;
    z-index: 5;
}
.dropDown .dropDownContent {
    display: block;
    margin-top: -150px;
    opacity: 0;
    overflow-y: hidden;
    height: auto;
    position: absolute;
    margin-left: 25px;
    background-color: #222222;
    min-width: 150px;
    text-align: left;
    border-top: 5px solid #0094FF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: margin .5s, opacity .5s linear .1s;
}
.dropDownContent a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropDownContent a:hover {
    background-color: #333333;
}
.dropDown:hover .dropDownContent {
    margin-top: 13px;
    opacity: 1;
}

/* --------------- Button ---------------*/

button {
    margin-left: .5em;
    padding: 3px;
    border: none;
    background-color: #0094FF;
    color: white;
    font-family: monospace;
    transition: background-color .5s;
}
button:hover {
    background-color: #004A7F;
    color: white;
}

/* --------------- Body --------------- */

.coloredLeftLine {
    color: #0094FF;
}
.bodyH1 {
    font-family: monospace;
    text-align: center;
    font-size: 3em;
    color: #333333;
}
.bodyP {
    width: 35%;
    margin: auto;
    font-size: 18px;
    color: #222222;
    font-family: sans-serif;
    text-align: center;
}
.centeredVideo {
    margin: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}
a {
    color: #0094FF;
    text-decoration: none;
}
a:hover {
    color: #004A7F;
}
h2 {
    color: #111111;
    font-family: monospace;
    font-size: 2em;
}