.videoSelect {
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 250px;
}
.videoSelect:hover {
    border: 1px solid #0094FF;
}
.videoSelect img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 20px;
    text-align: center;
}
.desc a {
    color: #0094FF;
    text-decoration: none;
}
.desc a:hover {
    color: #004A7F;
}
.videoContainer {
    width: 75%;
    margin: auto;
}

/* ------------- Single Video Page ---------------*/

.mainVideo {
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: #222222;
}
.mainVideo iframe {
    width: 896px;
    height: 504px;
    margin: 0px;
    border-left: 5px solid #0094FF;
    border-right: 5px solid #0094FF;
}
.otherVideos {
    width: 100%;
    padding: 25px;
    background-color: #333333;
    overflow-x: scroll;
}